.Nav{
    background-color: #282c34;
}

.Nav-bar{
    height: 6vmax;
}

.List{
    display: flex;
    flex-direction: row;
    justify-content: right;
}

.List > li{
    list-style: none;
    padding-right: 3vmin;
}

.List > li > a{
    font-size: calc(10px + 2vmin);
    text-decoration: none;
    color: aliceblue;
}